.list-users-container {
    .list-users-content {
        .child {
            width : 400px;
            height: 40px;
            margin: 0 auto;
            border: 1px solid #ccc;
        }
    }
}